# include this file in your printer.cfg by adding
# the line below to your printer.cfg:
# [include toolchanger/readonly-configs/toolchanger-include.cfg]

[include readonly-configs/homing.cfg] # might need to modify, assumes sensorless.  Can comment out if using standard homing.
[include readonly-configs/toolchanger.cfg]
[include readonly-configs/calibrate-offsets.cfg]
[include readonly-configs/crash-detection.cfg]
[include tools/T*.cfg]
[include tools/smart_filament_sensor.cfg]

[include toolchanger-config.cfg]
[include toolchanger-macros.cfg]
[include toolchanger_user_macros.cfg]
[include dragon_print_start.cfg]
[include dragon_print_end.cfg]
